/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #E0BF3D;
    padding: 20px 0;
}

.logo-container {
    float: left;
}

.logo {
    width: 100px;
    height: auto;
}

#reload-page {
    float: right;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #1A1A14;
    border: none;
    cursor: pointer;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #1A1A14;
}

a:hover {
    color: #E0BF3D;
}

/* Login Section */
.login-section {
    background-color: #FFFFFF;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #E0BF3D;
}

button {
    padding: 10px;
    background-color: #E0BF3D;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #69E187;
}

/* Description Section */
.description {
    background-color: #E0BF3D;
    color: #FFFFFF;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Checkbox Section */
.checkbox-section {
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

/* Interface Selector */
.interface-selector {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #E0BF3D;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #69E187;
}

/* Footer */
footer {
    background-color: #1A1A14;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

.social-media-links {
    margin-bottom: 10px;
}

i {
    font-size: 24px;
    margin: 0 5px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
